Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-pro-bounds-*,
  modernize-use-nullptr,
  performance-*,
  portability-*,
  readability-container-size-empty
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
